<html lang="en"></html>
	<head>
		<title>
			Application Onboard
		</title>
	</head>
	<body>
		<h3>
            Finish process
		</h3>
		<p>
			Hi
			<b>
				{{firstname}}
			</b>
		</p>
		<p>
			Kindly finish onboarding procedure
			<b>
				<a href="{{link}}">
					view link
				</a>
			</b>
		</p>
		<p>
		</p>
	</body>
</html>