<html lang="en"></html>
	<head>
		<title>
			Project Deboard
		</title>
	</head>
	<body>
		<h3>
            Kindly Checkout Project
		</h3>
		<p>
			Hi
			<b>
				{{firstname}}
			</b>
		</p>
		<p>
			Your service on the project was greatly appreciated
			
			</b>
		</p>
		<p>
		</p>
	</body>
</html>