<html lang="en"></html>
	<head>
		<title>
			Project Task
		</title>
	</head>
	<body>
		<h3>
           Task assigned
		</h3>
		<p>
			Hi
			<b>
				{{firstname}}
			</b>
		</p>
		<p>
		View link below to view task assigned to you
			<b>
				<a href="{{link}}">
					view link
				</a>
			</b>
		</p>
		<p>
		</p>
	</body>
</html>