<html lang="en"></html>
	<head>
		<title>
			Project Onboard
		</title>
	</head>
	<body>
		<h3>
            Kindly Checkout Project
		</h3>
		<p>
			Hi
			<b>
				{{firstname}}
			</b>
		</p>
		<p>
			You have been Onboarded on a project use link below to view
			<b>
				<a href="{{link}}">
					view link
				</a>
			</b>
		</p>
		<p>
		</p>
	</body>
</html>